<h1>1 шаг. Формирование списка товаров для обновления</h1>
<p><%= link_to '---> ОБНОВИТЬ ВСЕ ТОВАРЫ <---', put_all_products2_path %></p>
<p><%= link_to '---> СФОРМИРОВАТЬ СПИСОК ТОВАРОВ <---', seo_filters_update_path %></p> 