<h1>Товары поставлены в очередь для обновления</h1>
<p>Примерно через 30 минут, SEO по всем товаром будет обновлено</p>
<p>Если товары не обновились необходимо обратиться в службу сопровождения модуля</p>