<h1>Информация по товару изменена</h1>
<a href="/">На главную</a>
<p><b>Для того чтобы на странице товара информация обновилась необходимо почистить кэш браузера и подождать 5 минут</b></p>
<p><b>Название:</b> <%= @myresult['title'].to_s%></p>
<p><b>ID:</b> <%= @myresult['id'].to_s%></p>
<p><b>Товар доступен:</b> <%= @myresult['available'].to_s%></p>
<p><b>Новое значение Дополнительных полей:</b> </p>
<p><%= @myresult['product_field_values'].to_s %></p>
