<h1>Товары были обновлены</h1>
<p>Количество обновленных товаров</p>
<p><%= @myresult.count %></p>
<p>Всего просмотрено товаров</p>
<p><%= @count_prod %></p>
<p>Обновлено товаров</p>
<p><%= @myresult %></p>
