// Place all the styles related to the AccountInfos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.acc_table {
	th {
		padding: 5px;
	}
	td {
		padding: 5px;
	}
}

.account_info {
	width: 400px;
	.alert {
		padding: 5px;
		margin-bottom: 10px;
	}
	.alert-success {
		background-color: #DCF1A7;
	}
	.input {
		display: block;
		padding: 5px;
		input {
			margin-top: 2px;
			padding: 3px;
		}
		input.numeric {
			display: block;
		}
	}
	.button {
		margin-top: 10px;
	}
}
